
<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>우리집은 내가 지킨다 AB테스트 설문조사</title>
		<style>	
			body {
				background-color: #f3f3f3;
			}
			#main {
				position: relative;
				background-image: url('/images/main.png');
				border: 2px solid transparent;
				border-color: #e9e9e9;
				margin:0 auto;
				margin-top: 50px;
				width:650px;
				height:500px;
			}
			#next {
				position: absolute;
				left: 223px;
				top: 420px;
				width:184px;
				height:44px;
			}
		</style>
	</head>
	<body>
		<div id="main">
			<a id="next" href="/test"></a>
		</div>		
	</body>
</html>