<%- contentFor('head') %>	
	<style>
	</style>

<%- contentFor('body') %>
	
        	
	<ul data-role="listview" data-inset="false" data-icon="false" data-divider-theme="b">
        <li data-role="list-divider">
        	<div>
        		test1
        	</div>
        </li>
        <li >
			<a href="text.html" data-ajax="false"><i class='fa fa-align-left'></i> 1-1</a>
        </li>
        <li >
			<a href="text.html" data-ajax="false"><i class='fa fa-align-left'></i> 1-2</a>
        </li>
        <li data-role="list-divider">
        	<div>
        		test2
        	</div>
        </li>
        <li >
			<a href="text.html" data-ajax="false"><i class='fa fa-align-left'></i> 2-1</a>
        </li>
        <li >
			<a href="text.html" data-ajax="false"><i class='fa fa-align-left'></i> 2-2</a>
        </li>
    </ul>

<%- contentFor('script') %>
	<script>
		$(document).ready(function(){
		});
	</script>
