<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-320x460.png" />
	<meta name="author" content="FamousThemes" />
	<meta name="description" content="GoMobile - A next generation web app theme" />
	<meta name="keywords" content="mobile web app, mobile template, mobile design, mobile app design, mobile app theme, mobile wordpress theme, my mobile app" />
	<title>Cloud Room</title>
	<link type="text/css" rel="stylesheet" href="/go-mobile/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="/go-mobile/colors/beauty/beauty.css"/>
	<link type="text/css" rel="stylesheet" href="/go-mobile/css/idangerous.swiper.css"/>
	<link type="text/css" rel="stylesheet" href="/go-mobile/css/swipebox.css" />
	<link type='text/css' rel='stylesheet' href='/font/nanumbarungothic.css'/>
	<link type='text/css' rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300'/>
	<link type="text/css" rel="stylesheet" href="/css/layout.css"/>
	<link type="text/css" rel="stylesheet" href="/plugin/socicon/socicon.css"/>
	<!--
	<link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.min.css">
	-->
	<script type="text/javascript" src="/go-mobile/js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="/go-mobile/js/jquery.validate.min.js"></script>
	<%- head %>
</head>
<body>
	<%- body %>
	<script type="text/javascript" src="/go-mobile/js/jquery.swipebox.js"></script>
	<script type="text/javascript" src="/go-mobile/js/idangerous.swiper-2.1.min.js"></script>
	<script type="text/javascript" src="/go-mobile/js/idangerous.swiper.scrollbar-2.1.js"></script>
	<script type="text/javascript" src="/go-mobile/js/jquery.tabify.js"></script>
	<script type="text/javascript" src="/go-mobile/js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="/go-mobile/js/splash.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>
	<%- script %>
</body>
</html>








